<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">


  <ul class="list-inline">
    <li><b>Contact: </b><a href="mailto:cityhabits@gmail.com">cityhabits@gmail.com</a></li>
    <li><b>&reg; 2014 City Habits. All rights reserved.</b></li>
  </ul>
</div>
</div>
</div>
